@import 'variables';

:host, .expo-card {
  @include mat-elevation-transition;
  @include mat-overridable-elevation(6);
  position: relative;
  padding: $sugar-card-padding;
  border-radius: $sugar-card-border-radius;

  .avatar {
    height: $sugar-card-avatar-size;
    width: $sugar-card-avatar-size;
  }

  .item {


    img {
      height: $sugar-card-item-image-size;
      max-height: $sugar-card-item-image-size;
    }
  }
}

.action-icon {
  font-size: $sugar-card-action-icon-size;
  height: $sugar-card-action-icon-size;
  width: $sugar-card-action-icon-size;
}
