@import 'variables';

:host, .expo-card {
  @include mat-elevation-transition;
  @include mat-overridable-elevation(6);
  position: relative;
  padding: $sugar-card-padding;
  z-index: 2;
  background-color: $sugar-card-background-color;
  border-radius: $sugar-card-border-radius;

  transition: transform .05s ease-in-out;

  .avatar {
    height: $sugar-card-avatar-size;
    width: $sugar-card-avatar-size;
  }

  .item {


    .frame {
      position: relative;
      overflow: visible;
      height: $sugar-card-item-image-size;
      width: $sugar-card-item-image-size;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;


      &:before {
        $bg-buffer: -0.3 * $sugar-card-item-image-size;
        background: map-get($sugar-theme-primary, 'default');
        content: '';
        position: absolute;
        top: $bg-buffer;
        right: $bg-buffer;
        bottom: $bg-buffer;
        left: $bg-buffer;
        border-radius: 50%;
        z-index: -1;
      }

      img {
        height: $sugar-card-item-image-size;
        max-height: $sugar-card-item-image-size;
      }
    }

  }
}

.action-icon {
  font-size: $sugar-card-action-icon-size;
  height: $sugar-card-action-icon-size;
  width: $sugar-card-action-icon-size;
}

// .back-wall {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 0;

// }
