<div class="register-container">
    <div [ngClass]="{'LOCATION':'register-location','PHONE NUMBER':'register-phone-number','NAME':'register-name', 'SUBMITTING': 'register-submitting' }[registerStep$ | async]">
        <ul>
            <li class="register-card">
                <form class="starter-form justify-center column">
                    <mat-form-field>
                        <input matInput placeholder="Your address" [formControl]="locationFormControl" [errorStateMatcher]="locationMatcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="locationFormControl.hasError('required')">
                            Your address
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button (click)="submitZipCode()" mat-raised-button color="primary">Submit</button>
                </form>
            </li>
            <li class="register-card">
                <form class="starter-form  justify-center column">
                    <mat-form-field>
                        <input #phonenumber matInput placeholder="Phone Number" [formControl]="phoneNumberFormControl" [errorStateMatcher]="phoneNumberMatcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
                            Your phone number is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button (click)="submitPhoneNumber()" mat-raised-button color="primary">Submit</button>
                </form>
            </li>
            <li class="register-card">
                <form class="starter-form  justify-center column">
                    <mat-form-field>
                        <input #name matInput placeholder="Name" [formControl]="nameFormControl" [errorStateMatcher]="nameMatcher">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="nameFormControl.hasError('required')">
                            Your name is
                            <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <button (click)="submitName()" mat-raised-button color="primary">Submit</button>
                </form>
            </li>
            <li class="register-card">
                    <mat-progress-spinner [mode]="'indeterminate'" class="starter-form justify-center column"></mat-progress-spinner>

                </li>

            
        </ul>
    </div>
</div>