.spacer {
    flex: 1 1 auto;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1em;   
}

.toolbar-button {
    cursor: pointer;
}

.map-full-height {
    height: 100vh;
    -webkit-transition: 1000ms ease-out;
    -moz-transition: 1000ms ease-out;
    -o-transition: 1000ms ease-out;
}

.map-half-height {
    height: 50vh;
    -webkit-transition: 1000ms ease-out;
    -moz-transition: 1000ms ease-out;
    -o-transition: 1000ms ease-out;
}

.map-up {
}

.map-down {
}

.path-up {
    margin-top: -50vh
}

.path-down {
    margin-top: 0vh;
}

.fadeIn {
    display: block;
}

.fadeOut {
    display: none;

}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }