<sugar-path-chooser style="display: block" [ngClass]="{false:'path-down',true:'path-up' }[hasStart$ | async]"></sugar-path-chooser>
<sugar-start [ngClass]="{false:'fadeOut',true:'fadeIn' }[hasStart$ | async]"></sugar-start>
<div [ngClass]="{false:'map-down',true:'map-up' }[hasStart$ | async]">
    <mat-toolbar *ngIf="(hasStart$ | async) === false">
        <mat-toolbar-row>
            <span>Activity Feed</span>
            <span class="example-spacer"></span>
            <mat-icon (click)="showFeedView('LIST')" class="example-icon toolbar-button"><i class="material-icons">
                    format_list_bulleted
                </i></mat-icon>
            <mat-icon (click)="showFeedView('MAP')" class="example-icon toolbar-button"><i class="material-icons">
                    location_on
                </i></mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
    <div style="width: 100%" [ngClass]="{false:'map-half-height',true:'map-full-height' }[hasStart$ | async]">
        <mat-list *ngIf="(whichFeed$ | async) === 'LIST'">
            <sugar-feed-card mat-list-item *ngFor="let transactions of sugarFeed$ | async">
            </sugar-feed-card>
        </mat-list>
        <sugar-map *ngIf="(whichFeed$ | async) === 'MAP'"></sugar-map>
    </div>
</div>