<mat-toolbar-row class="mat-toolbar-row">
    <span>Activity Feed</span>
    <span class="spacer"></span>
    <mat-icon (click)="showFeedView('LIST')" class="mat-icon material-icons" role="img" aria-hidden="true">
        <i class="material-icons">
            format_list_bulleted
        </i>
    </mat-icon>
    <mat-icon (click)="showFeedView('MAP')" class="mat-icon material-icons" role="img" aria-hidden="true">
        <i class="material-icons">
            location_on
        </i>
    </mat-icon>
</mat-toolbar-row>
<div style="width: 100%; height: 200px">
    <mat-list *ngIf="(whichFeed$ | async) === 'LIST'">
        <sugar-feed-card mat-list-item *ngFor="let transactions of sugarFeed$ | async">
        </sugar-feed-card>
    </mat-list>
    <sugar-map *ngIf="(whichFeed$ | async) === 'MAP'" [mapLocationOptions]="{zoom: 5, center: {lng:13.4, lat: 52.51} }"></sugar-map>
</div>