<expo-card></expo-card>


<div fxLayout="column">

  <span class="mat-display-4">display-4</span>
  <span class="mat-display-3">display-3</span>
  <span class="mat-display-2">display-2</span>
  <span class="mat-display-1">display-1</span>
  <span class="mat-headline">headline</span>
  <span class="mat-title">title</span>
  <span class="mat-subheading-2">subheading-2</span>
  <span class="mat-subheading-1">subheading-1</span>
  <span class="mat-body-1">body-1</span>
  <span class="mat-body-2">body-2</span>
  <span class="mat-caption">caption</span>
  <span class="mat-button">button</span>
  <span class="mat-input">input</span>
</div>
