<expo-nav></expo-nav>

<router-outlet></router-outlet>

<ng-template [ngIf]="!loading">
  <div *ngIf="postingExists | async" class="column grow p-10">
    <expo-card #card="card" [posting]="currentPosting | async"></expo-card>

    <div class="back-wall p-10 justify-center align-center row" [style.opacity]="1 - card.opacity">
      <span class="mat-display-1 m-0">Notify Jennifer</span>
    </div>
  </div>
  <div *ngIf="!(postingExists | async)" class="column grow p-10">
    <h1 class="mat-display-1">No posts yet</h1>
  </div>
  <!-- <pre>{{ currentPosting | async | json }}</pre> -->
</ng-template>
<div *ngIf="loading" class="column align-center justify-center m-y-40 p-x-10 gap-30">
  <h1 class="mat-headline">Checking for postings near you...</h1>
  <mat-progress-spinner [mode]="'indeterminate'" class="align-self-start justify-self-start"></mat-progress-spinner>
</div>



<!-- <div fxLayout="column">
  <span class="mat-display-4">display-4</span>
  <span class="mat-display-3">display-3</span>
  <span class="mat-display-2">display-2</span>
  <span class="mat-display-1">display-1</span>
  <span class="mat-headline">headline</span>
  <span class="mat-title">title</span>
  <span class="mat-subheading-2">subheading-2</span>
  <span class="mat-subheading-1">subheading-1</span>
  <span class="mat-body-1">body-1</span>
  <span class="mat-body-2">body-2</span>
  <span class="mat-caption">caption</span>
  <span class="mat-button">button</span>
  <span class="mat-input">input</span>
</div> -->
